* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

body {
  margin: 0;
  background: #e6e0d6; /* papel */
  font-family: serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-indicator {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: rgba(0,0,0,0.6);
  letter-spacing: 1px;
  font-family: serif;
}


.book {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  padding: 40px 20px;
  perspective: 1500px; /*ANIMACION*/
}

.page {
  width: 450px;
  position: relative;
}

.page img {
  width: 100%;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  border-radius: 4px;
  transition: transform 0.45s ease, opacity 0.45s ease;
}

/* Botones */
.controls {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}

.controls button {
  pointer-events: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #f8eaaf;
  color: rgb(108, 105, 105);
  border: none;
  font-size: 24px;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.controls .prev {
  left: 20px;
}

.controls .next {
  right: 20px;
}

.controls button:hover {
  background: rgba(209, 209, 121, 0.7);
}

/** Animaciones */
.slide-left {
  transform: translateX(-60px);
  opacity: 0;
}

.slide-right {
  transform: translateX(60px);
  opacity: 0;
}

/*Responsive*/
@media (max-width: 600px) {

  body {
    overflow-y: auto;
  }

  .controls {
    display: none;
  }

  .book {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }

  .page {
    width: 100%;
    display: block;
  }

  .page img {
    max-width: 90vw;
    height: auto;
    box-shadow: none;
    border-radius: 0;
  }

  .page:first-child {
    display: block;
  }

  .page-indicator {
    display: none;
  }
}
